@using HOFCServerNet.Data.Models;
@model HOFCServerNet.ViewModels.Classement.ClassementViewModel
@{
    List<Classement> classements = Model.Classements;
}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Points</th>
                <th>J</th>
                <th>V</th>
                <th>N</th>
                <th>P</th>
                <th>BP</th>
                <th>BC</th>
                <th>Diff</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
            }
            @foreach (Classement c in classements)
                {
                <tr class="@(c.Equipe.Contains("HORGUES ODOS")?"info":"")">
                    <td>@i</td>
                    <td>@c.Equipe</td>
                    <td>@c.Points</td>
                    <td>@c.Joue</td>
                    <td>@c.Victoire</td>
                    <td>@c.Nul</td>
                    <td>@c.Defaite</td>
                    <td>@c.Bp</td>
                    <td>@c.Bc</td>
                    <td>@c.Difference</td>
                </tr>
                i++;
            }
        </tbody>
    </table>