@model HOFCServerNet.Data.Models.Match
<div class="row card" style="min-height:90px">
    <div class="col-md-12 text-center">
        @Model.Competition.Nom
    </div>
    <div class="col-md-12 text-center">
        @Model.Date
    </div>
    <div class="col-md-12">
        @if (Model.Equipe1.Contains("HORGUES ODOS"))
            {
            @:<img class="col-md-1 col-sm-1 col-xs-1 text-center img-responsive" src="/images/hofc.png" />
        }
            else
            {
            @:<div class="col-md-1 col-sm-1 col-xs-1 text-center"></div>
        }
        <div class="col-md-10 col-sm-10 col-xs-10">
            <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                @Model.Equipe1
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                @Model.Score1 - @Model.Score2
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                @Model.Equipe2
            </div>
        </div>
        @if (Model.Equipe2.Contains("HORGUES ODOS"))
            {
            @:<img class="col-md-1 col-sm-1 col-xs-1 text-center img-responsive" src="/images/hofc.png" />
        }
            else
            {
            @:<div class="col-md-1 col-sm-1 col-xs-1 text-center"></div>
        }
    </div>
</div>