@using System.Collections.Generic
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@using Microsoft.AspNet.Identity;
@using HOFCServerNet.Data.Models;
@using HOFCServerNet.ViewModels.Account;
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager



<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                
                <div class="mdl-card mdl-shadow--2dp wrapper">
                    <div class="mdl-card__title text-center">
                        <h2 class="mdl-card__title-text">Connexion</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            <input asp-for="Email" class="mdl-textfield__input" type="text" />
                            <label class="mdl-textfield__label" asp-for="Email">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            <input class="mdl-textfield__input" asp-for="Password" type="password" />
                            <label class="mdl-textfield__label" asp-for="Password">Password</label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mdl-card__actions mdl-card--border text-center">
                        <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                            Login
                        </button>
                        <a asp-action="Register" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            S'enregistrer
                        </a>
                        <a asp-action="ForgotPassword" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Mot de passe oublié
                        </a>
                    </div>
                </div>
            </form>
            @{
                var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                if (loginProviders.Count > 0)
                {
                    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                        
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
                                {
                                    <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>
